
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                            General Styles
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
a{
    color: #d4cbcd;
}
a:hover{
    color: #d0515d;
    text-decoration: none;
}
.nav-topper{
    margin-top: 5px;
}
.site-header{
    background: #323232d1;
}
h1 {
    text-align: center;
}
hr{
  margin: 3rem 0;
}
.jumbotron{
    height: 40rem;
    margin-top: -56px;
}

footer{
    background-color: #575757;
    height: auto;
    padding-top: 50px;
    font-weight: 800;
    font-size: 0.8em;
   }
.col{
    text-align: center;
    }
.col-padding{
    padding-bottom: 40px;
    }
.footer-padding{
    padding: 30px;
   }
.check-us-out{
    padding: 10px;
    font-size: 1.3em;
    color: #032548;
    }
.jumbotron{
    color: #d4cbcd;
    font-weight: bold;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                             Home Styles
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


      /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
                                  Home Carousel Styles
       - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.carousel-item {
    height: 40rem;
    background-color: #777;
 }
.carousel-img{
    background-size: cover;
    height: 40rem;
}
.carousel{
    margin-top: -56px;
}

.carousel-img-1{
    background-image: url('../img/index/carousel/carousel-img-1.jpg');
    background-position: center 60%;
}
.carousel-img-2{
    background-image: url('../img/index/carousel/carousel-img-2.jpg');
    background-position: center 60%;
}
.carousel-img-3{
    background-image: url('../img/index/carousel/carousel-img-3.jpg');
    background-position: center 60%;
}
.carousel-img-4{
    background-image: url('../img/index/carousel/carousel-img-4.jpg');
    background-position: center center;
}
ol.carousel-indicators li,
ol.carousel-indicators li.active {
    width: 20%;
    height: 0.3em;
}
ol.carousel-indicators li.active{
    background-color: #d0515d;
}
ol.carousel-indicators li{
    background-color: #d4cbcd;
}


       /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
                                  Home Featured Styles
        - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.card-deck{
    margin-top: 20px;
}

.card{
    min-width: 250px;
}
.card-deck .card{
    margin-bottom: 20px;
}
.btn-outline-secondary{
    background: #d4cbcd;
    color: #d0515d;
}
.btn-outline-secondary:hover{
    background: #d0515d;
    color: #d4cbcd;
}






        /* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
                                  Home Blog Styles
         - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.map{
  height: 500px;
  width: 100%;
  background-position: center;
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                              Product Styles
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.product-jumbo{
    background-image: url(../img/index/product/product-jumbo.jpg);
    background-size: cover;
    background-position: center center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                               About Styles
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.about-jumbo{
    background-image: url(../img/index/about/about-jumbo.jpg);
    background-size: cover;
    background-position: center center;
}
.about-image-1{
    background-image: url(../img/index/about/about.jpg);
    height: 300px;
    background-size: cover;
    background-position: center center;
}
.about-image-2{
    background-image: url(../img/index/about/beginnings.jpg);
    height: 300px;
    background-size: cover;
    background-position: center center;
}
.about-image-3{
    background-image: url(../img/index/about/future.jpg);
    height: 300px;
    background-size: cover;
    background-position: center center;
}
.nav-link {
    background-color: #d4cbcd;
    color: #d0515d;
    margin-right: 5px;
}
.nav-link:hover {
    background-color: #d0515d;
    color: #d4cbcd;
    margin-right: 5px;
}

.nav-item .active {
    background: red;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                               Contact Styles
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.contact-jumbo{
    background-image: url(../img/index/contact/contact-jumbo.jpg);
    background-size: cover;
    background-position: center center;
    color: #d4cbcd;
    font-weight: bold;
}
.employee{
    background-size: cover;
    background-position: center;
}

.employ-heading{
    margin-top: 3rem;
}
.employ-social{
    margin: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}
.employ-contact-1{
    padding: 10px;
    background: #d6a4af;
}
.employ-contact-2{
    padding: 10px;
    background: #a4bdd6;
}
.employ-contact-3{
    padding: 10px;
    background: #b5d6a4;
}
.employ-contact{
        color: #575757;
}
.employ-contact:hover{
    color: #d0515d;
}
.check-out{
    text-align: center;
}

.jumbo-center{
    text-align: center;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                               Contact Styles
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
